<%- include('../includes/head.ejs') %>
    <section class="main-container">
        <br>
        <br>
        
        <div class="container is-max-widescreen">
            <div class="box ">
                <h1 class="label is-size-2"> Mi Expediente:  </h1>
                <div class="columns">
                    <% if(arr[0]) {%>
                    <div class="column is-2 ">
                        <button class="button is-danger is-fullwidth" onclick="cargarexp(this)" value="5"> Arrendador </button>
                    </div>
                    <% } %>
                    <% if(arr[1]) {%>
                    <div class="column is-2">
                        <button class="button is-danger is-fullwidth" onclick="cargarexp(this)" value="1"> Vendedor </button>
                    </div>
                    <% } %>
                    <% if(arr[2]) {%>
                    <div class="column is-2">
                        <button class="button is-danger is-fullwidth" onclick="cargarexp(this)" value="3"> Comprador </button>
                    </div>
                    <% } %>
                </div>
            </div>   
                
            <div class="box">    
                <div class="columns" >
                    <!--<div class="column is-1"> </div> -->
                    <div class="column is-3"><h2 class="Title label">Archivo</h2> </div>
                    <div class="column is-2"></div>
                    
                    <div class="column"> <h2 class="Title label">Comentarios</h2></div>
                    <div class="column is-2"> <h2 class="Title label">Estatus </h2> </div> 
                </div>
            </div>
            <form action="/expediente/miexpediente" method="POST"  enctype="multipart/form-data"> 
                <input type="hidden" value="<%= user %>" id="user" name="user">
                <div id="exp">

                </div>
                <br>
                <div class="columns">
                    <div class="column is-3">
                        
                        <button  type="submit" class="button is-danger is-fullwidth"  onclick="" id="botonguardar" name="boton"> Guardar Cambios</button>
                    </div>
                    
                </div>
            </form>
            
        <script>
            const cargarexp = (elemento) =>{
                let estados = ['Faltante', 'Pendiente', 'Aceptado', 'Rechazado'];
                let query = elemento.value;
                fetch('/expediente/fetch/' + query, {
                    method: 'GET',
                    headers: {
                        'Content-Type': 'application/json',
                    }
                }).then(result => {
                    return result.json();
                }).then(data => {
                    console.log(data);
                    let html = '';
                    for(elements of data){
                        if(elements.estatus == undefined)
                            elements.estatus = 0;
                        if(elements.Comentarios == undefined)
                            elements.Comentarios = ' ';
                        html +=
                        `
                        <div class="has-background-light box">
                            <div class="columns">
                                <input type="hidden" name="Tipo_Doc" value="${elements.tipo_doc}">
                                <div class="column is-3">
                                    <label class="label"> ${elements.descripcion}</label> </div>
                                    <div class="column is-2">
                                        <div class="file is-danger">
                                            <label class="file-label">
                                                <input class="file-input"  accept=".pdf" type="file" name="archivo2">
                                                    <span class="file-cta">
                                                        <span class="file-icon">
                                                            <i class="fas fa-upload"></i>
                                                        </span>
                                                        <span class="file-label has-text-centered">
                                                            Subir Archivo
                                                        </span>
                                                    </span>
                                            </label>
                                        </div>
                                    </div>
                            <div class="column is-5">
                            <h2 class="label"> ${elements.Comentarios} </h2>
                        </div>
                        <div class="column"> <h2 class="label"> ${estados[elements.estatus]} </h2></div></div> </div>

                            
                        `
                        document.getElementById('exp').innerHTML = html;
                    }
                    
                    /*let html = ''
                    let docs = data.files;
                    let tipo_docs = new Array();
                    let estados = ['Faltante', 'Pendiente', 'Aceptado', 'Recahzado'];
                    console.log(docs);
                    for(let elems of docs){
                        tipo_docs.push(elems.Tipo_doc);
                    }
                    console.log(tipo_docs);
                    for(let elems of data.reqs){
                        console.log(elems);
                        let comment = '';
                        let estatus = '0';
                        if(tipo_docs.indexOf(elems.Tipo_doc) > -1){
                            comment = docs[tipo_docs.indexOf(elems.Tipo_doc)].comentarios;
                            estatus = docs[tipo_docs.indexOf(elems.Tipo_doc)].estatus;
                        }
                        console.log(comment);
                        html +=' <div class="has-background-light box">';
                        html += '<div class="columns">';
                        html += '<input type="hidden" name="Tipo_Doc" value="">';
                        html += '<div class="column is-3">';
                        html += '<label class="label"> '+ elems.descripcion +' </label> </div>';
                        html += '<div class="column is-2">'
                        html +=    '<div class="file is-danger">'
                        html +=        '<label class="file-label">'
                        html +=            '<input class="file-input"  accept=".pdf" type="file" name="archivo2">'
                        html +=            '<span class="file-cta">'
                        html +=          '<span class="file-icon">'
                        html +=          '  <i class="fas fa-upload"></i>'
                        html +=          '</span>'
                        html +=            '<span class="file-label has-text-centered">'
                        html +=                'Subir Archivo'
                        html +=            '</span>'
                        html +=            '</span>'
                        html +=         '</label>'
                        html +=    '</div>'
                        html += '</div>';
                        html += '<div class="column is-5">'; 
                        html += '<h2 class="label"> '+comment+' </h2>';
                        html += '</div>';
                        html+='<div class="column"> <h2 class="label">' + estados[estatus]+' </h2></div></div> </div>';
                    }
                    
                    */
                }).catch(err => {
                    console.log(err);
                });
            }
        </script>
<%- include('../includes/foot.ejs') %>

        