<style>
    .footer-padding {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
    }
</style>
<footer class="footer-padding  2rem 1rem 4rem">
    <div class="box content has-text-centered">
        <strong>Kiara Inmuebles 2022.</strong> Para más información consulta nuestro
        <a href="/aviso">  Aviso de Privacidad.</a>
    </div>
</footer>


<!---

<script>

    document.addEventListener('DOMContentLoaded', () => {

        // Get all "navbar-burger" elements
        const $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);

        // Add a click event on each of them
        $navbarBurgers.forEach(el => {
            el.addEventListener('click', () => {

                // Get the target from the "data-target" attribute
                const target = el.dataset.target;
                const $target = document.getElementById(target);

                // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
                el.classList.toggle('is-active');
                $target.classList.toggle('is-active');

            });
        });

    });
</script>

-->