<!DOCTYPE html>
<html lang="es">

<head >
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Kiara</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <link rel="stylesheet" href="../css/bulma-divider.min.css">
    <link rel="stylesheet" href="../css/bulma-steps.min.css">
    <link rel="stylesheet" href="../css/bulma-collapsible.min.css">
    <link rel="stylesheet" href="../css/my.css">
    <link rel="stylesheet" href="https://cdn.materialdesignicons.com/2.1.19/css/materialdesignicons.min.css" >
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/animate.css@4.0.0/animate.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/css/intlTelInput.css"/>
    <link rel = "stylesheet" href = "https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css">
    <script src = "https://use.fontawesome.com/releases/v5.1.0/js/all.js"></script>
    <script src = "https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

</head>

<body>
    <header class="box m-1">
        <nav class="navbar" role="navigation" aria-label="main navigation">
            <div class="navbar-brand">
                <a  href="/">
                    <figure class="is-flex is-align-items-center is-justify-content-center image is-64x64
                    ">
                        <img src="/images/kiaralogo.png">
                    </figure>
                </a>
                <a class="navbar-item" href="/index">

                    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
                        <span aria-hidden="true"></span>
                        <span aria-hidden="true"></span>
                        <span aria-hidden="true"></span>
                    </a>
            </div>

            <div id="navbarBasicExample" class="navbar-menu">

                <div class="navbar-start">


                    <a href="/intro" class="navbar-item">
                        <h2 class="label is-size-5"> ¿Quienes somos? </h2>
                    </a>

                    <a href="/propiedades" class="navbar-item">
                        <h2 class="label is-size-5">Propiedades </h2>
                    </a>

                    <a href="/contacto" class="navbar-item">
                        <h2 class="label is-size-5">Contacto </h2>
                    </a>
                    <a href="/resenas" class="navbar-item">
                        <h2 class="label is-size-5">Blog</h2>
                    </a>


                </div>

                <div class="navbar-end">
                    <div class="navbar-item">
                        <div class="buttons">

                            <% if(sesion != '') { %>

                                <a class="button is-danger" href="/dashboard"> <strong> Mi Perfil</strong></a>

                                <% } %>
                                    <% if(sesion != '') { logbot = 'Cerrar Sesion'; logpath = '/login/logout'} else {logbot = 'Iniciar Sesion'; logpath = '/login'} %>
                                        <a class="button is-danger" href="<%= logpath %>">
                                            <%= logbot %>
                                        </a>

                        </div>
                    </div>
                </div>

            </div>
        </nav>

        <style>
            #map {
                height: 100%;
            }
            
            html,
            body {
                height: 100%;
                margin: 0;
                padding: 0;
            }
        </style>
    </header>


</body>

</html>