<%- include('../includes/head.ejs') %>
<div class="section">
    <div class="container">
        <div class="columns is-multiline">
            <div class="column is-4">
              <%- include('menu.dashboard.ejs') %>
            </div>
            <div class="column is-8 is-multiline">
              <%- include('../propiedad/test.propiedad.ejs', {propiedad: propiedad}) %>  
            </div>
        </div>
    </div>
</div>
  
<%- include('../includes/foot.ejs') %>