<%- include('../includes/head.ejs') %>
<div class="section">
    <div class="container">
        <div class="columns is-multiline">
            <div class="column is-3">
              <%- include('menu.dashboard.ejs') %>
            </div>
            <div class="column is-9 is-multiline">
              <%- include('../Estatus/listEstatus.ejs') %>
            </div>
        </div>
    </div>
</div>
  
<%- include('../includes/foot.ejs') %>