<div class="card">
    <div class="card-content">


<!-- Generar informaci칩n del usuario -->
    <article class="media">
        <figure class="media-left">
          <figure class="image is-64x64">
            <img class="is-rounded" src="https://pbs.twimg.com/profile_images/1505972991191965697/ZRm22tKG_400x400.jpg">
          </figure>
        </figure>
        <div class="media-content">
          <div class="content is-small">
            <h1>Blanca Vergel</h1>
            <p class="pt-0 pb-0 m-0"><i class="mdi mdi-phone pr-2 "></i>552939920</p>
            <p class="pt-0 pb-0"><i class="mdi mdi-email pr-2"></i>blanca@kiara.mx</p>
          </div>
    </article>
      <div class="content">
          <a href="/propiedades/registrar"><button class="button is-danger is-fullwidth ">+ A침adir propiedad</button></a>
      </div>
    </div>


<!-- Botones del menu del dashboard, cada uno esta en un footer para separarlos -->

    <footer class="card-footer">
      <div class="content is-danger has-icons-left">
        <a href="#" class="card-footer-item is-danger"><i class="mdi mdi-account pr-2 pl-4"></i>Informaci칩n Personal</a>
      </div>
    </footer>
    <footer class="card-footer">
      <div class="content is-danger has-icons-left">
        <a href="#" class="card-footer-item"><i class="mdi mdi-home pr-2 pl-4"></i>Mis propiedades</a>
      </div>
    </footer>
    <footer class="card-footer">
      <div class="content is-danger has-icons-left">
          <a href="#" class="card-footer-item"><i class="mdi mdi-home pr-2 pl-4"></i>Mis expedientes</a>
      </div>
    </footer>
    <footer class="card-footer">
      <div class="content is-danger has-icons-left">
        <a href="#" class="card-footer-item"><i class="mdi mdi-logout-variant pr-2 pl-4"></i>Cerrar sesi칩n</a>
      </div>
    </footer>
  </div>