<%- include('menu.agente.ejs') %>
<footer class="card-footer">
    <div class="content is-danger has-icons-left">
        <a href="/dashboard/usuarios/roles" class="card-footer-item"><i class="mdi mdi-home pr-2 pl-4"></i> Modificar Usuarios </a>
    </div>
</footer>
