<footer class="card-footer">
    <div class="content is-danger has-icons-left">
      <a href="/dashboard" class="card-footer-item is-danger"><i class="mdi mdi-account pr-2 pl-4"></i>Información Personal</a>
    </div>
  </footer>
  <footer class="card-footer">
    <div class="content is-danger has-icons-left">
      <a href="/expediente/miexpediente" class="card-footer-item"><i class="mdi mdi-home pr-2 pl-4"></i>Mis expedientes</a>
    </div>
  </footer>
  <footer class="card-footer">
    <div class="content is-danger has-icons-left">
        <a href="/estatus" class="card-footer-item"><i class="mdi mdi-home pr-2 pl-4"></i>Mis seguimientos</a>
    </div>
  </footer>