<article class="media">
    <figure class="media-left">
        <p class="image is-64x64">
            <img src="https://www.google.com/url?sa=i&url=https%3A%2F%2Fradiodisney.disneylatino.com%2Fnota%2Fprimera-imagen-dua-lipa-como-actriz&psig=AOvVaw0E33xsSrnN1PKsZaZrVVL5&ust=1666279811434000&source=images&cd=vfe&ved=0CA0QjRxqFwoTCOiE05PO7PoCFQAAAAAdAAAAABAE">
        </p>
    </figure>
    <div class="media-content">
        <div class="content">
            <p>
                <strong>Dua Lipa</strong>
                <br> Excelente servicio por parte de los asesores.
                <br>
                <small><a>Like</a> · <a>Reply</a> · 3 hrs</small>
            </p>
        </div>

        <article class="media">
            <figure class="media-left">
                <p class="image is-48x48">
                    <img src="https://bulma.io/images/placeholders/96x96.png">
                </p>
            </figure>
            <div class="media-content">
                <div class="content">
                    <p>
                        <strong>Checo Perez</strong>
                        <br> Genial! Ahora tengo dónde guardar mi Lambo :D
                        <br>
                        <small><a>Like</a> · <a>Reply</a> · 2 hrs</small>
                    </p>
                </div>

                <article class="media">
                    Apoco si?
                </article>

                <article class="media">
                    Geniaaaaaaaaal! :D
                </article>
            </div>
        </article>

        <article class="media">
            <figure class="media-left">
                <p class="image is-48x48">
                    <img src="https://bulma.io/images/placeholders/96x96.png">
                </p>
            </figure>
            <div class="media-content">
                <div class="content">
                    <p>
                        <strong>AMLO </strong>
                        <br> Excelente servicio por parte de los asesores!
                        <br>
                        <small><a>Like</a> · <a>Reply</a> · 2 hrs</small>
                    </p>
                </div>
            </div>
        </article>
    </div>
</article>

<article class="media">
    <figure class="media-left">
        <p class="image is-64x64">
            <img src="https://bulma.io/images/placeholders/128x128.png">
        </p>
    </figure>
    <div class="media-content">
        <div class="field">
            <p class="control">
                <textarea class="textarea" placeholder="Agrega un comentario..."></textarea>
            </p>
        </div>
        <div class="field">
            <p class="control">
                <div class="buttons is-right">
                    <a class="button is-danger">Publicar</a>
                </div>
            </p>
        </div>
    </div>
</article>