<%- include('../includes/head.ejs') %>



    <section class="is-relative section py-20">
        <img class="is-absolute is-left-0 is-top-0 mt-16 is-hidden-mobile" src="zeus-assets/icons/dots/blue-dot-left-bars.svg" alt="">
        <img class="is-absolute is-right-0 is-top-0 mt-48 is-hidden-mobile" src="zeus-assets/icons/dots/yellow-dot-right-shield.svg" alt="">
        <div class="container">
            <div class="has-mw-2xl mx-auto mb-20 has-text-centered">
                <h2 class="mt-8 title is-2">Servicios Adicionales</h2>
                <br>
            </div>
            <div class="has-mw-4xl mx-auto mb-12">
                <div class="columns is-centered">
                    <div class="column is-2 mb-6 mb-0-desktop" href="#collapsible-message-accordion-1" data-action="collapse">
                        <button class="is-inline-block py-6 has-background-danger is-fullwidth is-rounded" style="width: 100%; border: none; cursor: pointer;">
              <svg class="mx-auto mb-5" width="28" height="28" viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M7.65991 17.7087L11.6508 12.5218L16.203 16.0977L20.1084 11.0573" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                <circle cx="24.6606" cy="3.60028" r="2.56293" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></circle>
                <path  d="M8.5 11.5a.5.5 0 0 1-1 0V7.707L6.354 8.854a.5.5 0 1 1-.708-.708l2-2a.5.5 0 0 1 .708 0l2 2a.5.5 0 0 1-.708.708L8.5 7.707V11.5z"stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                <path  d="M14 14V4.5L9.5 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2zM9.5 3A1.5 1.5 0 0 0 11 4.5h2V14a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h5.5v2z"stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
              </svg>
              <p class="is-size-6 has-text-white"  >Tramites y Gestoria</p>
            </button>
                    </div>
                    <div class="column is-2 mb-6 mb-0-desktop" href="#collapsible-message-accordion-2" data-action="collapse">
                        <button class="is-inline-block py-6 has-background-light is-fullwidth is-rounded" style="width: 100%; border: none; cursor: pointer;">
              <svg class="mx-auto mb-5" width="26" height="28" viewBox="0 0 26 28" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6Zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0Zm4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4Zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10Z"stroke="#838EA4" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                <circle cx="13.2336" cy="13.852" r="3.51487" stroke="#838EA4" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></circle>
              </svg>
              <p class="is-size-6 has-text-grey-dark">Asesoria Legal</p>
            </button>
                    </div>
                    <div class="column is-2 mb-6 mb-0-desktop " href="#collapsible-message-accordion-3" data-action="collapse">
                        <button class="is-inline-block py-6 has-background-light is-fullwidth is-rounded" style="width: 100%; border: none; cursor: pointer;">
              <svg class="mx-auto mb-5" width="28" height="26" viewBox="0 0 28 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M26.8521 16.1943H21.4543C19.4724 A16.1931 17.866 14.5879 17.8647 12.6059C17.8647 10.624 19.4724 9.01879 21.4543 9.01758H26.8521" stroke="#838EA4" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                <path d="M22.0649 12.5238H21.6493" stroke="#838EA4" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                <path fill-rule="evenodd" clip-rule="evenodd" d="M8.707 1.5a1 1 0 0 0-1.414 0L.646 8.146a.5.5 0 0 0 .708.708L2 8.207V13.5A1.5 1.5 0 0 0 3.5 15h9a1.5 1.5 0 0 0 1.5-1.5V8.207l.646.647a.5.5 0 0 0 .708-.708L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.707 1.5ZM13 7.207V13.5a.5.5 0 0 1-.5.5h-9a.5.5 0 0 1-.5-.5V7.207l5-5 5 5Z" stroke="#838EA4" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                <path stroke="#838EA4" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
              </svg>
              <p class="is-size-6 has-text-grey-dark">Administración de Inmuebles</p>
            </button>
                    </div>


                </div>
            </div>


            <div id="accordion_first">
                <article class="message is-danger ">
                    <div class="message-header ">

                        <a href="#collapsible-message-accordion-1" data-action="collapse">Tramites y Gestoria</a>

                    </div>
                    <div id="collapsible-message-accordion-1" class="message-body is-collapsible" data-parent="accordion_first">
                        <div class="message-body-content is-white">
                            <strong>  <p class="has-text-justified">
                                <br>Trámite de crédito hipotecario bancario e Infonavit
                                <br>Trámites municipales
                                <br>Renovaciones de contrato de arrendamiento
                                <br>Trámite de número oficial
                                <br>Trámite de alineamiento
                                <br>Cambio de nombre en servicios como luz y agua
                                <br>Entre otros
                                
                        </div>
                    </div>
                </article>
                <article class="message is-danger">
                    <div class="message-header">
                        <a href="#collapsible-message-accordion-2" data-action="collapse">Asesoria Legal</a>
                    </div>
                    <div id="collapsible-message-accordion-2" class="message-body is-collapsible" data-parent="accordion_first">
                        <div class="message-body-content is-white           ">
                            <strong>  <p class="has-text-justified">
                                Tu tranquilidad es nuestra responsabilidad, por lo que brindamos asesoría y proceder legal acerca de todos los asuntos que tengan que ver con el condominio y sus procesos:</p>
                                </strong>
                            <br>Elaboración de actas
                            <br>Presentación de asambleas
                            <br>Defensa legal para la asociación de colonos
                            <br>Representación con autoridades
                            <br>Protocolización de actas ante notaria
                            <br>Demandas para residentes morosos
                            <br>
                            <br>
                            <strong>
                                    <p class="has-text-justified">Basados en alianzas con proveedores expertos en su rama, te ofrecemos mantener en aptas condiciones las instalaciones de tu condominio:</p>
                                </strong>
                            <br>Mantenimiento en general
                            <br>Mantenimiento de áreas comunes
                            <br>Mantenimiento de áreas verdes
                            <br>Mantenimiento de albercas y fuentes

                        </div>
                    </div>
                </article>
                <article class="message is-danger">
                    <div class="message-header">
                        <a href="#collapsible-message-accordion-3" data-action="collapse">Administración de Inmbuebles </a>
                    </div>
                    <div id="collapsible-message-accordion-3" class="message-body is-collapsible" data-parent="accordion_first">
                        <div class="message-body-content">
                            <br>Administración de recursos
                            <br>Convocatorias a asambleas
                            <br>Control de gastos
                            <br>Envío de estados de cuenta mensual
                            <br>Comunicación efectiva y avisos importantes
                            <br>Reservaciones
                            <br>Manejo de proveedores
                            <br>Seguimiento a cobro de cuotas de mantenimiento
                            <br>Elaboración y seguimiento de reglamento
                            <br>Trámites y gestiones ante dependencias de gobierno
                            <br>Difusión y ejecución de acuerdos
                            <br> Reuniones de trabajo con comité de vigilancia y mesa directiva
                            <br>Establecimiento y ejecución de bitácoras
                            <br>Elaboración de directorio general del condominio
                            <br>Atención y solución a quejas y sugerencias
                            <br>Contabilidad de la asociación
                            <br>Declaración de impuestos (costo adicional)
                            <br>Alta ante SAT
                            <br>Reporte de ingresos y egresos
                            <br>Manejo de cuentas
                            <br>Cobranza
                            <br>Convenios
                            <br>Estados de cuenta
                        </div>
                    </div>
                </article>
            </div>

    </section>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.0/css/bulma.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">


    <script src="../js/bulma-collapsible.min.js"></script>
    <script>
        // Return an array of bulmaCollapsible instances (empty if no DOM node found)
        const bulmaCollapsibleInstances = bulmaCollapsible.attach('.is-collapsible');

        // Loop into instances
        bulmaCollapsibleInstances.forEach(bulmaCollapsibleInstance => {
            // Check if current state is collapsed or not
            console.log(bulmaCollapsibleInstance.collapsed());
        });

        // Find DOM node from ID
        const bulmaCollapsibleElement = document.getElementById('to-collapse');
        if (bulmaCollapsibleElement) {
            // Instanciate bulmaCollapsible component on the node
            new bulmaCollapsible(bulmaCollapsibleElement);

            // Call method directly on bulmaCollapsible instance registered on the node
            bulmaCollapsibleElement.bulmaCollapsible('collapse');
        }
    </script>
    <%- include('../includes/foot.ejs') %>