<%- include('../includes/head.ejs') %>
    <section class="hero is-danger is-small is-bold">
        <div class="hero-body">
            <div class="container has-text-centered">
                <h1 class="title">Servicios Adicionales</h1>
            </div>
        </div>
    </section>
    <div class="tile is-ancestor">
        <div class="tile is-4 is-vertical is-parent">
            <div class="tile is-child box">
                <p class="title">Tramites y Gestoría</p>
                <li>Trámite de crédito hipotecario bancario e Infonavit</li>
                <li>Trámites municipales</li>
                <li>Renovaciones de contrato de arrendamiento</li>
                <li>Trámite de número oficial</li>
                <li>Trámite de alineamiento</li>
                <li>Cambio de nombre en servicios como luz y agua</li>
                <li>Entre otros</li>

            </div>
            <div class="tile is-child box">
                <p class="title">Asesoría Legal</p>
                <p class="has-text-justified">
                    Tu tranquilidad es nuestra responsabilidad, por lo que brindamos asesoría y proceder legal acerca de todos los asuntos que tengan que ver con el condominio y sus procesos:
                </p>
                <br>
                <li>Elaboración de actas</li>
                <li>Presentación de asambleas</li>
                <li>Defensa legal para la asociación de colonos</li>
                <li>Representación con autoridades</li>
                <li>Protocolización de actas ante notaria</li>
                <li>Demandas para residentes morosos</li>
                <br>
                <p class="has-text-justified">Basados en alianzas con proveedores expertos en su rama, te ofrecemos mantener en aptas condiciones las instalaciones de tu condominio:</p>
                <br>
                <li>Mantenimiento en general</li>
                <li>Mantenimiento de áreas comunes</li>
                <li>Mantenimiento de áreas verdes</li>
                <li>Mantenimiento de albercas y fuentes</li>

            </div>
        </div>
        <div class="tile is-parent">
            <div class="tile is-child box">
                <p class="title">Administración de Inmuebles</p>
                <p class="has-text-justified">Administramos desde propiedades pequeñas hasta unidades condominales.
                </p>
                <br>
                <p class="has-text-justified"> Nuestro servicio consiste en administrar y controlar los recursos tangibles e intangibles del condominio buscando como objetivo mantener y mejorar la plusvalía de tu hogar. Atendemos las necesidades de los residentes con acciones preventivas
                    y correctivas para el correcto funcionamiento y sana convivencia entre los involucrados como sigue:</p>
                <br>
                <li>Administración de recursos</li>
                <li>Convocatorias a asambleas</li>
                <li>Control de gastos</li>
                <li>Envío de estados de cuenta mensual</li>
                <li>Comunicación efectiva y avisos importantes</li>
                <li>Reservaciones</li>
                <li>Manejo de proveedores</li>
                <li>Seguimiento a cobro de cuotas de mantenimiento</li>
                <li>Elaboración y seguimiento de reglamento</li>
                <li>Trámites y gestiones ante dependencias de gobierno</li>
                <li>Difusión y ejecución de acuerdos</li>
                <li> Reuniones de trabajo con comité de vigilancia y mesa directiva</li>
                <li>Establecimiento y ejecución de bitácoras</li>
                <li>Elaboración de directorio general del condominio</li>
                <li>Atención y solución a quejas y sugerencias</li>
                <li>Contabilidad de la asociación</li>
                <li>Declaración de impuestos (costo adicional)</li>
                <li>Alta ante SAT</li>
                <li>Reporte de ingresos y egresos</li>
                <li>Manejo de cuentas</li>
                <li>Cobranza</li>
                <li>Convenios</li>
                <li>Estados de cuenta</li>
            </div>
        </div>

    </div>



    <%- include('../includes/foot.ejs') %>