<%- include('../includes/head.ejs') %>
    <!DOCTYPE html>
    <html>

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" type="image/png" sizes="32x32" href="../images/favicon.png">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/overlayscrollbars/1.9.1/css/OverlayScrollbars.min.css'>
        <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
        <link rel="stylesheet" href="https://unpkg.com/bulma@0.9.3/css/bulma.min.css" />
        <link rel="stylesheet" type="text/css" href="../css/blog.css">
    </head>

    <body>

        <div class="container">
            <section class="articles">
                <div class="container is-max-desktop">
                    <div class="box">
                        <div class="has-text-centered">

                            <h1 class="label is-size-2">Contactanos a través de nuestras redes sociales </h1>

                            <p>
                                <a href="https://wa.me/5214427967322 ">
                                    <h2 class="Title label"><i class="mdi mdi-whatsapp"></i>Whatsapp </h2>
                                </a>
                            </p>
                            <p>
                                <a href="https://wa.me/5214423863232 ">
                                    <h2 class="Title label"><i class="mdi mdi-whatsapp"></i>Whatsapp 2 </h2>
                                </a>
                            </p>
                            <p>
                                <a href="mailto:contacto.kiarainmuebles@gmail.com">
                                    <h2 class="Title label"><i class="mdi mdi-email"></i>Correo electrónico </h2>
                                </a>
                            </p>
                            <p>
                                <a href="https://www.facebook.com/urbannus.bienes.raices">
                                    <h2 class="Title label"><i class="mdi mdi-facebook"></i>Facebook </h2>
                                </a>
                            </p>
                            <p>
                                <a href="https://www.youtube.com/channel/UC2Dcf3WB38p_N0hwAjUl0UA">
                                    <h2 class="Title label"><i class="mdi mdi-youtube-play"></i>Youtube </h2>
                                </a>
                            </p>
                            <p>
                                <a>
                                    <h2 class="Title label"><i class="mdi mdi-instagram"></i>Instagram </h2>
                                </a>
                            </p>
                        </div>
                    </div>
                    <script async type="text/javascript" src="../js/bulma.js"></script>

    </body>

    </html>
    <%- include('../includes/foot.ejs') %>