<%- include('../includes/head.ejs') %>
    <!DOCTYPE html>
    <html>

    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="https://unpkg.com/bulma@0.9.3/css/bulma.min.css" />
        <link rel="stylesheet" type="text/css" href="../css/blog.css">
    </head>

    <body>
        <section class="hero is-danger is-small is-bold">
            <div class="hero-body">
                <div class="container has-text-centered">
                    <h1 class="title">Información de contacto</h1>
                </div>
            </div>
        </section>
        <div class="container is-fluid">
            <div class="hero is-danger is-small is-bold has-text-centered">

                <div class="box">
                    <p>
                        <a href="https://wa.me/5214427967322 ">
                            <span class="has-text-danger is-size-4"><i class="mdi mdi-whatsapp"></i>Whatsapp </span>
                        </a>
                    </p>
                    <p>
                        <a href="https://wa.me/5214423863232 ">
                            <span class="has-text-danger is-size-4"><i class="mdi mdi-whatsapp"></i>Whatsapp 2 </span>
                        </a>
                    </p>
                    <p>
                        <a href="mailto:contacto.kiarainmuebles@gmail.com">
                            <span class="has-text-danger is-size-4"><i class="mdi mdi-email"></i>Correo electrónico </span>
                        </a>
                    </p>
                    <p>
                        <a href="https://www.facebook.com/urbannus.bienes.raices">
                            <span class="has-text-danger is-size-4"><i class="mdi mdi-facebook"></i>Facebook </span>
                        </a>
                    </p>
                    <p>
                        <a href="https://www.youtube.com/channel/UC2Dcf3WB38p_N0hwAjUl0UA">
                            <span class="has-text-danger is-size-4"><i class="mdi mdi-youtube-play"></i>Youtube </span>
                        </a>
                    </p>
                    <p>
                        <a>
                            <span class="has-text-danger is-size-4"><i class="mdi mdi-instagram"></i>Instagram </span>
                        </a>
                    </p>
                </div>
            </div>

            <script async type="text/javascript" src="../js/bulma.js"></script>

    </body>

    </html>
    <%- include('../includes/foot.ejs') %>