.hero.banner  {
	background-image: url('../images/queretaro.webp') ;
	background-size: cover;
}


.not-round {
     border-top-right-radius: 15px;
     border-top-left-radius: 15px;
     border-bottom-right-radius: 0px;
     border-bottom-left-radius: 0px;
  }

.not-round-search {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
 }

 .cover-image {
   max-height: 330px;
   border-top-left-radius: 3px;
   border-top-right-radius: 3px;
}

.cover-image img {
   transition: transform 1s, filter 2s ease-in-out;
   -webkit-transition: transform 1s, filter 2s ease-in-out;
   transform: scale(1.1);
   -webkit-transform: scale(1.1);
}

.card:hover .cover-image img {
   cursor: pointer;
   transform: scale(1.2);
   -webkit-transform: scale(1.2);
}

.is-overflow-hidden {
   overflow: hidden !important;
}

.is-cursor-pointer {
   cursor: pointer !important;
}

.is-tr-1 {
   top: 1rem;
   right: 1rem;
}

.is-absolute {
   position: absolute;
}

.is-circle {
   border-radius: 50%;
}

.is-text-wide-1 {
   letter-spacing: 0.1em !important;
}

.is-fill-white {
   fill: #ffffff;
}

.w-6 {
   width: 1.5rem !important;
}

.shadow-lg {
   box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05) !important;
}

.image-corner image{
   width:200px;
   border-top-left-radius:50px;
   border-top-right-radius:50px;
   }
   .card.is-horizontal {
      display: flex;
    }
    .card.is-horizontal .card-image {
      width: 100%;
      height: 100%;
    }
    .card.is-horizontal .card-stacked {
      flex-direction: column;
      flex: 1 1 auto;
      display: flex;
      position: relative;
    }
    .card.is-horizontal .card-stacked .card-content {
      flex-grow: 1;
    }
    .card.is-fullimage {
      background-color: transparent;
    }
    .card.is-fullimage .card-image {
      color: #fff !important;
    }
    .card.is-fullimage .card-image .card-stacked {
      position: absolute;
      bottom: 0;
      width: 100%;
      background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.65) 100%);
      text-shadow: 0px 0px 2px #000000;
    }
    .card.is-fullimage .card-image .card-stacked .card-footer {
      border-color: transparent;
    }
    .card.is-fullimage .card-image .card-stacked .title,
    .card.is-fullimage .card-image .card-stacked .subtitle {
      color: inherit;
    }
    .card.is-fullimage .card-image .card-stacked a {
      color: inherit;
    }
    .card.is-fullimage .card-image .card-stacked a:hover {
      text-decoration: underline;
    }



 
 .card .card-image  {
   width: auto;
   height: auto;
   max-width: 400px;

 }