.hero.banner  {
	background-image: url('../images/queretaro.webp') ;
	background-size: cover;
}


.not-round {
     border-top-right-radius: 15px;
     border-top-left-radius: 15px;
     border-bottom-right-radius: 0px;
     border-bottom-left-radius: 0px;
  }

.not-round-search {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
 }

 .cover-image {
   max-height: 330px;
   border-top-left-radius: 3px;
   border-top-right-radius: 3px;
}

.cover-image img {
   transition: transform 1s, filter 2s ease-in-out;
   -webkit-transition: transform 1s, filter 2s ease-in-out;
   transform: scale(1.1);
   -webkit-transform: scale(1.1);
}

.card:hover .cover-image img {
   cursor: pointer;
   transform: scale(1.2);
   -webkit-transform: scale(1.2);
}

.is-overflow-hidden {
   overflow: hidden !important;
}

.is-cursor-pointer {
   cursor: pointer !important;
}

.is-tr-1 {
   top: 1rem;
   right: 1rem;
}

.is-absolute {
   position: absolute;
}

.is-circle {
   border-radius: 50%;
}

.is-text-wide-1 {
   letter-spacing: 0.1em !important;
}

.is-fill-white {
   fill: #ffffff;
}

.w-6 {
   width: 1.5rem !important;
}

.shadow-lg {
   box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05) !important;
}

.image-corner image{
   width:200px;
   border-top-left-radius:50px;
   border-top-right-radius:50px;
   }

