<form action="/login/registrarse" method="POST">
  <input type="hidden" name="_csrf" value="<%= csrfToken %>">
<section class="hero is-medium banner">
    <div class="hero-body">
        <div class="container py-20 pr-20">
            <div class="field has-addons has-addons-left pb-0 m-0">

                <p class="control">
                    <a class="button is-medium is-danger not-round ">
                      Busca una propiedad que te interese
                    </a>
                </p>
    
            </div>
           
        <div class="field has-addons has-addons-centered pt-0 m-0 ">
            <p class="control is-expanded not-round-search">
              <input class="input not-round-search" type="text" placeholder="  Ingrese caracteristicas de la propiedad..">
            </p>

            <p class="control ">
              <span class="select">
                <select>
                  <option>Renta</option>
                  <option>Venta</option>
                </select>
              </span>
          </p>

            <p class="control ">
                <span class="select">
                  <select>
                    <option>Casa</option>
                    <option>Departamento</option>
                    <option>Local</option>
                  </select>
                </span>
            </p>

            <p class="control">
                <a class="button is-danger ">
                  <input  class="button has-text-centered is-danger" type="submit" id="enviar" name="enviar" value="Buscar" >
                </a>
            </p>

          
        </div>
    </div>
</section>
</form>