<%- include('../includes/head.ejs') %>
    <%- include('busqueda.ejs') %>
        <section class="main-container">
            <div class="container ">
              <%- include('../propiedad/propiedades.barra.ejs', {propiedad: propiedad}) %>
            </div>
        </section>

        <div class="has-text-centered p-4 is-size-2"><strong> Contáctanos </strong> </div>
        <section class="py-20">
            <div class="section py-0">
                <div class="container mb-12 mb-20-desktop">
                    <div class="columns">

                        <div class="column is-4 has-text-centered p-4">
                            <svg class="mb-8 mx-auto" width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <rect x="0.5" y="0.5" width="47" height="47" rx="23.5" fill="white" stroke="#DEE4E9"></rect>
                  <path d="M30.5 30.5H17.5C16.948 30.5 16.5 30.052 16.5 29.5V18.5C16.5 17.948 16.948 17.5 17.5 17.5H30.5C31.052 17.5 31.5 17.948 31.5 18.5V29.5C31.5 30.052 31.052 30.5 30.5 30.5Z" stroke="#838EA4" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"></path>
                  <path d="M18.5 20.5L24 25L29.5 20.5" stroke="#838EA4" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"></path>
                </svg>
                            <p> <a class="has-text-grey-dark" href="mailto:contacto.kiarainmuebles@gmail.com"> contacto.kiarainmuebles@gmail.com</a></p>
                        </div>
                        <div class="column is-4 has-text-centered p-4">
                            <svg class="mb-8 mx-auto" width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                <rect x="0.5" y="0.5" width="47" height="47" rx="23.5" fill="white" stroke="#DEE4E9"></rect>
                <path d="M26.514 25.764L25.292 27.292C23.3984 26.1794 21.8205 24.6015 20.708 22.708L22.236 21.486C22.4151 21.3426 22.5417 21.144 22.596 20.9211C22.6502 20.6982 22.6292 20.4636 22.536 20.254L21.143 17.117C21.0431 16.8922 20.8666 16.7101 20.645 16.6034C20.4234 16.4966 20.1711 16.472 19.933 16.534L17.281 17.221C17.0336 17.2858 16.8186 17.439 16.6765 17.6517C16.5345 17.8643 16.4752 18.1216 16.51 18.375C16.9753 21.6887 18.5068 24.7609 20.8729 27.127C23.2391 29.4932 26.3112 31.0247 29.625 31.49C29.8782 31.5249 30.1355 31.4657 30.348 31.3236C30.5605 31.1815 30.7135 30.9664 30.778 30.719L31.466 28.068C31.5279 27.8299 31.5033 27.5776 31.3966 27.356C31.2898 27.1343 31.1078 26.9579 30.883 26.858L27.746 25.465C27.5364 25.372 27.302 25.351 27.0792 25.405C26.8564 25.4591 26.6577 25.5853 26.514 25.764V25.764Z" stroke="#838EA4" stroke-linecap="round" stroke-linejoin="round"></path>
              </svg>
                            <p>
                                <a class="has-text-grey-dark" href="https://wa.me/5214423863232 ">442 386 32 32 </a>
                            </p>
                        </div>
                        <div class="column is-4 has-text-centered p-4">
                            <svg class="mb-8 mx-auto" width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <rect x="0.5" y="0.5" width="47" height="47" rx="23.5" fill="white" stroke="#DEE4E9"></rect>
                  <path d="M26.514 25.764L25.292 27.292C23.3984 26.1794 21.8205 24.6015 20.708 22.708L22.236 21.486C22.4151 21.3426 22.5417 21.144 22.596 20.9211C22.6502 20.6982 22.6292 20.4636 22.536 20.254L21.143 17.117C21.0431 16.8922 20.8666 16.7101 20.645 16.6034C20.4234 16.4966 20.1711 16.472 19.933 16.534L17.281 17.221C17.0336 17.2858 16.8186 17.439 16.6765 17.6517C16.5345 17.8643 16.4752 18.1216 16.51 18.375C16.9753 21.6887 18.5068 24.7609 20.8729 27.127C23.2391 29.4932 26.3112 31.0247 29.625 31.49C29.8782 31.5249 30.1355 31.4657 30.348 31.3236C30.5605 31.1815 30.7135 30.9664 30.778 30.719L31.466 28.068C31.5279 27.8299 31.5033 27.5776 31.3966 27.356C31.2898 27.1343 31.1078 26.9579 30.883 26.858L27.746 25.465C27.5364 25.372 27.302 25.351 27.0792 25.405C26.8564 25.4591 26.6577 25.5853 26.514 25.764V25.764Z" stroke="#838EA4" stroke-linecap="round" stroke-linejoin="round"></path>
                </svg>
                            <p>
                                <a class="has-text-grey-dark" href="https://wa.me/5214427967322 ">442 796 73 22 </a>
                            </p>

                        </div>


                    </div>
                </div>
            </div>
            <br>
            <br>
            <!--
            <div style="height: 448px; background-image:url('../images/kiara.webp'); background-repeat: no-repeat; background-size: cover;"></div>
            <div class="section py-0">
                <div class="container">
                    <div class="has-mw-3xl mx-auto p-6 p-20-desktop has-background-white has-text-centered" style="margin-top: -128px">
                        <h2 class="mt-8 mb-14 px-3-desktop title is-2">Lorem ipsum dolor sit amet consectutar domor</h2>
                        <form action="#">
                            <div class="is-relative mb-6">
                                <input class="input is-medium" type="text" placeholder="Daniel">
                                <span class="is-absolute is-top-0 is-left-0 -mt-2 ml-3 px-1 has-background-white has-text-grey-dark" style="font-size: 12px;">Name</span>
                            </div>
                            <div class="is-relative mb-6">
                                <input class="input is-medium" type="email" placeholder="e.g hello@shuffle.dev">
                                <span class="is-absolute is-top-0 is-left-0 -mt-2 ml-3 px-1 has-background-white has-text-grey-dark" style="font-size: 12px;">Your email address</span>
                            </div>
                            <div class="is-relative mb-6">
                                <textarea class="textarea is-medium" style="resize: none;" type="message" cols="20" rows="8" placeholder="Message..."></textarea>
                                <span class="is-absolute is-top-0 is-left-0 -mt-2 ml-3 px-1 has-background-white has-text-grey-dark" style="font-size: 12px;">Your message</span>
                            </div>
                            <button class="button is-primary is-fullwidth">Send message</button>
                        </form>
                    </div>
                </div>
            </div>-->
        </section>




        <%- include('../includes/foot.ejs') %>