<%- include('../includes/head.ejs') %>
<%- include('busqueda.ejs') %>
<section class="main-container">
    <div class="container ">
<%- include('../propiedad/propiedades.barra.ejs', {propiedad: propiedad}) %>
</div>
</section>
  
<%- include('../includes/foot.ejs') %>