<%- include('./includes/head.ejs') %>
<div class="content">
    <h1> Preguntas:  </h1>
    <ul>
        <li>
            ¿Qué otras formas de autentificación existen?
            <ul>
                <li>Autentificación de dos pasos</li>
                <li>Codigo OTP</li>
                <li>Datos Biometricos</li>
                <li>Certificados digitales</li>
            </ul>
        </li>
    </ul>
    <h1>
        Referencias:
    </h1>
    <ol>
        <li>
            Calderon, A. (2021, diciembre). Metodos de Autenticacion. Recuperado de via firma, sitio web: https://www.viafirma.com/blog-xnoccio/es/metodos-de-autenticacion/
        </li>
    </ol>
</div>    
<%- include('./includes/footer.ejs') %>