<%- include('../includes/head.ejs') %>
    <!DOCTYPE html>
    <html>

    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="https://unpkg.com/bulma@0.9.3/css/bulma.min.css" />

    </head>

    <body>
        <section class="hero is-danger is-small is-bold">
            <div class="hero-body">
                <div class="container has-text-centered">
                    <h1 class="title">Aviso de privacidad</h1>
                </div>
            </div>
        </section>
        <div class="container">
            <div class="tile is-parent">
                <div class="tile is-child box">
                    <br>
                    <p class="has-text-justified"><strong>KIARA Bienes Raíces</strong> del Grupo Urbannus Bienes Raíces con domicilio conocido en Querétaro, Municipio o Delegación Corregidora, C.P. 76900, en la entidad de Querétaro, País México, utilizará sus datos personales recabados
                        para contratos mercantiles, contratos civiles, publicidad comercial, base de datos, asesoría comercial, arrendamientos comerciales, publicidad redes sociales, negocios, enajenaciones, mercadotecnia o publicitaria, prospección comercial,
                        gestoría ante instituciones de crédito, gestoria broker hipotecario, avaluos peritajes de bienes inmuebles, uso portales inmobiliarios internet.
                        <br>
                        <br> Para mayor información acerca del tratamiento y de los derechos que puede hacer valer, usted puede acceder al aviso de privacidad integral a través de: correo electrónico, página web, redes sociales.
                    </p>
                    <br>

                </div>

            </div>

            <script async type=" text/javascript " src="../js/bulma.js "></script>

    </body>

    </html>

    <%- include('../includes/foot.ejs') %>