<div class="container">
    <div class="container pt-5">
        <div class="field has-addons has-addons-centered pt-7">
            <p class="control is-expanded not-round-search">
            <input class="input not-round-search" type="text" placeholder="Buscar propiedades..">
            </p>

            <p class="control ">
                <span class="select">
                <select>
                    <option>Venta</option>
                    <option>Renta</option>
                </select>
                </span>
            </p>

            <p class="control ">
                <span class="select">
                <select>
                    <option>Casa</option>
                    <option>Departamento</option>
                    <option>Local</option>
                </select>
                </span>
            </p>

            <p class="control">
                <a class="button is-danger ">
                Buscar
                </a>
            </p>

        
        </div>
</div>