<div class="section">
    <div class="container">
        <% if (propiedad.length > 0) { %>
        <div class="columns is-multiline">
            <% for (let p of propiedad  ) { %>
            <div class="column is-3">
                <%- include('propiedad.ejs', {propiedad: p}) %>
            </div>
            <% } %>
        </div>
        <% }  %>
    </div>
</div>
    

