<script>
    forma_dinamica = () => {
        
        let tipoP = document.getElementById("tipoID").value;
        let tipo;

        if(tipoP === ''){
            tipo = document.getElementById("tipoPropiedad").value;
        }
        else{
            tipo ="";
        }
        
        console.log(tipoP);
        console.log(tipo);
        let html = '';
        if(tipo == "Residencial" || tipoP == "1"){
            html += '<div class="section px-0 py-5">';
            html += '     <div class="card">';
            html += '         <div class="card-content">';
            html += '             <div class="container">';
            html += '<div class="columns is-multiline">';
            html += '    <div class="column is-auto">';
            html += '        <div class="field">';
            html += '            <label class="label">Recamaras</label>';
            html += '            <div class="control">';
            html += '                <div class="select is-expanded is-fullwidth">';
            html += '                    <select class="select" name="recamaras" id="recamaras">';
            html += '                        <option value="" disabled selected hidden>Cantidad</option>';
            html += '                        <option value="1">1</option>';
            html += '                        <option value="2">2</option>';
            html += '                        <option value="3">3</option>';
            html += '                        <option value="4">4</option>';
            html += '                        <option value="5">5</option>';
            html += '                        <option value="6">6</option>';
            html += '                        <option value="7">7</option>';
            html += '                    </select>';
            html += '               </div>';
            html += '           </div>';
            html += '        </div>';
            html += '    </div>';
            html += '    <div class="column is-auto">';
            html += '        <div class="field">';
            html += '            <label class="label">Estacionamiento</label>';
            html += '            <div class="control">';
            html += '                <div class="select is-expanded is-fullwidth">';
            html += '                    <select class="select" name="estacionamiento" id="estacionamiento">';
            html += '                        <option value="" disabled selected hidden>Cantidad</option>';
            html += '                        <option value="1">1</option>';
            html += '                        <option value="2">2</option>';
            html += '                        <option value="3">3</option>';
            html += '                        <option value="4">4</option>';
            html += '                        <option value="5">5</option>';
            html += '                        <option value="6">6</option>';
            html += '                        <option value="7">7</option>';
            html += '                    </select>';
            html += '                </div>';
            html += '            </div>';
            html += '        </div>';
            html += '    </div>';
            html += '    <div class="column is-auto">';
            html += '        <div class="field">';
            html += '            <label class="label">Baños</label>';
            html += '            <div class="control">';
            html += '                <div class="select is-expanded is-fullwidth">';
            html += '                    <select class="select" name="banos" id="banos">';
            html += '                        <option value="" disabled selected hidden>Cantidad</option>';
            html += '                        <option value="1">1</option>';
            html += '                        <option value="2">2</option>';
            html += '                        <option value="3">3</option>';
            html += '                        <option value="4">4</option>';
            html += '                        <option value="5">5</option>';
            html += '                        <option value="6">6</option>';
            html += '                        <option value="7">7</option>';
            html += '                    </select>';
            html += '                </div>';
            html += '            </div>';
            html += '        </div>';
            html += '    </div>';
            html += '    <div class="column is-auto">';
            html += '        <div class="field">';
            html += '            <label class="label">Niveles</label>';
            html += '            <div class="control">';
            html += '                <div class="select is-expanded is-fullwidth">';
            html += '                    <select class="select" name="pisos" id="pisos">';
            html += '                        <option value="" disabled selected hidden>Cantidad</option>';
            html += '                        <option value="1">1</option>';
            html += '                        <option value="2">2</option>';
            html += '                        <option value="3">3</option>';
            html += '                        <option value="4">4</option>';
            html += '                        <option value="5">5</option>';
            html += '                        <option value="6">6</option>';
            html += '                        <option value="7">7</option>';
            html += '                    </select>';
            html += '                </div>';
            html += '            </div>';
            html += '        </div>';
            html += '    </div>';
            html += '</div>';

            html += '<div class="columns is-multiline">';
            html += '    <div class="column is-auto">';
            html += '        <div class="field">';
            html += '            <label class="label">Gas</label>';
            html += '            <div class="control">';
            html += '                <div class="select is-expanded is-fullwidth">';
            html += '                    <select class="select" name="gas" id="gas">';
            html += '                        <option value="" disabled selected hidden>Seleccionar</option>';
            html += '                        <option value="1">Sì</option>';
            html += '                        <option value="2">No</option>';
            html += '                    </select>';
            html += '                </div>';
            html += '            </div>';
            html += '        </div>';
            html += '    </div>';
            html += '    <div class="column is-auto">';
            html += '        <div class="field">';
            html += '            <label class="label">Cocina</label>';
            html += '            <div class="control">';
            html += '                <div class="select is-expanded is-fullwidth">';
            html += '                    <select class="select" name="cocina" id="cocina">';
            html += '                        <option>Seleccionar</option>';
            html += '                        <option value="1">Sì</option>';
            html += '                        <option value="2">No</option>';
            html += '                    </select>';
            html += '                </div>';
            html += '            </div>';
            html += '        </div>';
            html += '    </div>';
            html += '</div>';
            html += '             </div>';
            html += '         </div>';
            html += '     </div>';
            html += ' </div>';

        }

        else if(tipo == "Comercial"){

            html += '<div class="section px-0 py-5">';
            html += '     <div class="card">';
            html += '         <div class="card-content">';
            html += '             <div class="container">';
            html += '                 <div class="columns is-multiline">';
            html += '                     <div class="column is-auto">';
            html += '                         <div class="field">';
            html += '                             <label class="label">Oficinas</label>';
            html += '                             <div class="control">';
            html += '                                 <div class="select is-expanded is-fullwidth">';
            html += '                                     <select class="select" name="oficinas" id="oficinas">';
            html += '                                         <option value="" disabled selected hidden>Cantidad</option>';
            html += '                                         <option value="1">1</option>';
            html += '                                         <option value="2">2</option>';
            html += '                                         <option value="3">3</option>';
            html += '                                         <option value="4">4</option>';
            html += '                                         <option value="5">5</option>';
            html += '                                         <option value="6">6</option>';
            html += '                                         <option value="7">7</option>';
            html += '                                     </select>';
            html += '                                </div>';
            html += '                            </div>';
            html += '                         </div>';
            html += '                     </div>';
            html += '                     <div class="column is-auto">';
            html += '                         <div class="field">';
            html += '                             <label class="label">Estacionamiento</label>';
            html += '                             <div class="control">';
            html += '                                 <div class="select is-expanded is-fullwidth">';
            html += '                                     <select class="select" name="estacionamiento" id="estacionamiento">';
            html += '                                         <option value="" disabled selected hidden>Cantidad</option>';
            html += '                                         <option value="1">1</option>';
            html += '                                         <option value="2">2</option>';
            html += '                                         <option value="3">3</option>';
            html += '                                         <option value="4">4</option>';
            html += '                                         <option value="5">5</option>';
            html += '                                         <option value="6">6</option>';
            html += '                                         <option value="7">7</option>';
            html += '                                     </select>';
            html += '                                 </div>';
            html += '                             </div>';
            html += '                         </div>';
            html += '                     </div>';
            html += '                     <div class="column is-auto">';
            html += '                         <div class="field">';
            html += '                             <label class="label">Baños</label>';
            html += '                             <div class="control">';
            html += '                                 <div class="select is-expanded is-fullwidth">';
            html += '                                     <select class="select" name="banos" id="banos">';
            html += '                                         <option value="" disabled selected hidden>Cantidad</option>';
            html += '                                         <option value="1">1</option>';
            html += '                                         <option value="2">2</option>';
            html += '                                         <option value="3">3</option>';
            html += '                                         <option value="4">4</option>';
            html += '                                         <option value="5">5</option>';
            html += '                                         <option value="6">6</option>';
            html += '                                         <option value="7">7</option>';
            html += '                                     </select>';
            html += '                                 </div>';
            html += '                             </div>';
            html += '                         </div>';
            html += '                     </div>';
            html += '                     <div class="column is-auto">';
            html += '                         <div class="field">';
            html += '                             <label class="label">Pisos</label>';
            html += '                             <div class="control">';
            html += '                                 <div class="select is-expanded is-fullwidth">';
            html += '                                     <select class="select" name="pisos" id="pisos">';
            html += '                                         <option value="" disabled selected hidden>Cantidad</option>';
            html += '                                         <option value="1">1</option>';
            html += '                                         <option value="2">2</option>';
            html += '                                         <option value="3">3</option>';
            html += '                                         <option value="4">4</option>';
            html += '                                         <option value="5">5</option>';
            html += '                                         <option value="6">6</option>';
            html += '                                         <option value="7">7</option>';
            html += '                                     </select>';
            html += '                                 </div>';
            html += '                             </div>';
            html += '                         </div>';
            html += '                     </div>';
            html += '                 </div>';
            html += '             </div>';
            html += '         </div>';
            html += '     </div>';
            html += ' </div>';

        }

        else if(tipo == "Terreno"){


        }

        document.getElementById("form-complement").innerHTML = html;
    };



    let tipoP = document.getElementById("tipoID").value;

    if(tipoP === ''){
         document.getElementById("tipoPropiedad").oninput = forma_dinamica;
         console.log("Trigger cambio de propiedad");
    }
    else{
        window.onload = forma_dinamica;
        console.log("Trigger id de servidor");
    }
    
    

</script>
