<script>
    forma_dinamica = () => {
        
        let tipoPropiedad = document.getElementById("tipoID").value;

        const RESIDENCIAL = "1";
        const COMERCIAL = "2";

        if(tipoPropiedad === ''){
            tipoPropiedad = document.getElementById("campo-11").value;
        }

        console.log(tipoPropiedad);

        let html = '';
        if(tipoPropiedad == RESIDENCIAL) {
            
            html += '<div class="section px-0 py-5">';
            html += '     <div class="card">';
            html += '         <div class="card-content">';
            html += '             <div class="active-container">';
            html += '<div class="columns is-multiline">';
            html += '    <div class="column is-auto">';
            html += '        <div class="field">';
            html += '            <label class="label">Habitaciones</label>';
            html += '            <div class="control">';
            html += '                <div class="is-expanded is-fullwidth">';
            html += '                    <input type="number" class="input" id="recamaras" name="recamaras" value="' + (residencial.Recamaras != null ? residencial.Recamaras : '0') + '" min="0">';
            html += '               </div>';
            html += '           </div>';
            html += '        </div>';
            html += '    </div>';
            html += '    <div class="column is-auto">';
            html += '        <div class="field">';
            html += '            <label class="label">Estacionamiento</label>';
            html += '            <div class="control">';
            html += '                <div class="is-expanded is-fullwidth">';
            html += '                    <input type="number" class="input" id="estacionamiento" name="estacionamiento" value="'+ (residencial.Estacionamiento != null ? residencial.Estacionamiento : '0') +'" min="0">';
            html += '                </div>';
            html += '            </div>';
            html += '        </div>';
            html += '    </div>';
            html += '    <div class="column is-auto">';
            html += '        <div class="field">';
            html += '            <label class="label">Baños</label>';
            html += '            <div class="control">';
            html += '                <div class="is-expanded is-fullwidth">';
            html += '                    <input type="number" class="input" id="banos" name="banos" value="'+ (residencial.Banos != null ? residencial.Banos : '0')+'" min="0">';
            html += '                </div>';
            html += '            </div>';
            html += '        </div>';
            html += '    </div>';
            html += '    <div class="column is-auto">';
            html += '        <div class="field">';
            html += '            <label class="label">Pisos</label>';
            html += '            <div class="control">';
            html += '                <div class=" is-expanded is-fullwidth">';
            html += '                    <input type="number" class="input" id="pisos" name="pisos" value="'+(residencial.Niveles != null ? residencial.Niveles : '0') +'" min="0">';                       
            html += '                </div>';
            html += '            </div>';
            html += '        </div>';
            html += '    </div>';
            html += '</div>';
            html += '<div class="columns is-multiline">';
            html += '    <div class="column is-auto">';
            html += '        <div class="field">';
            html += '            <label class="label">Gas</label>';
            html += '            <div class="control">';
            html += '                <div class="select is-expanded is-fullwidth">';
            html += '                    <select class="select" name="gas" id="gas">';
            html += '                        <option value="" disabled ';
            if (residencial.Gas == ''){
                html += 'selected';     
            }
            html += 'hidden>Seleccionar</option>';

            html += '                        <option value="1"';
            if (residencial.Gas == 1){
                html += 'selected';     
            }
            html += '>Sí</option>';

            html += '                        <option value="2"';
            if (residencial.Gas == 2){
                html += 'selected';     
            }
            html += '>No</option>';

            html += '                    </select>';
            html += '                </div>';
            html += '            </div>';
            html += '        </div>';
            html += '    </div>';
            html += '    <div class="column is-auto">';
            html += '        <div class="field">';
            html += '            <label class="label">Cocina</label>';
            html += '            <div class="control">';
            html += '                <div class="select is-expanded is-fullwidth">';
            html += '                    <select class="select" name="cocina" id="cocina">';
            html += '                        <option value="" disabled ';
            if (residencial.Cocina == ''){
                html += 'selected';     
            }
            html += 'hidden>Seleccionar</option>';
            html += '                        <option value="1"';
            if (residencial.Cocina == 1){
                html += 'selected';     
            }
            html += '>Sí</option>';

            html += '                        <option value="2"';
            if (residencial.Cocina == 2){
                html += 'selected';     
            }
            html += '>No</option>';

            html += '                    </select>';
            html += '                </div>';
            html += '            </div>';
            html += '        </div>';
            html += '    </div>';
            html += '</div>';
            html += '             </div>';
            html += '         </div>';
            html += '     </div>';
            html += ' </div>';

        }

        else if( tipoPropiedad == COMERCIAL) {
            html += `<div class="section px-0 py-5">
                 <div class="card">
                     <div class="card-content">
                         <div class="active-container">
                             <div class="columns is-multiline">
                                 <div class="column is-auto">
                                     <div class="field">
                                         <label class="label">Oficinas</label>
                                         <div class="control">
                                             <div class="is-expanded is-fullwidth">
                                                 <input type="number" class="input" id="oficinas" name="oficinas" min="0" value="${comercial.Cuartos != null ? comercial.Cuartos : '0'}">
                                            </div>
                                        </div>
                                     </div>
                                 </div>
                                 <div class="column is-auto">
                                     <div class="field">
                                         <label class="label">Estacionamiento</label>
                                         <div class="control">
                                             <div class="is-expanded is-fullwidth">
                                                <input type="number" class="input" id="estacionamiento" name="estacionamiento" min="0" value="${comercial.Estacionamiento != null ? comercial.Estacionamiento : '0'}">
                                                 
                                             </div>
                                         </div>
                                     </div>
                                 </div>
                                 <div class="column is-auto">
                                     <div class="field">
                                         <label class="label">Baños</label>
                                         <div class="control">
                                             <div class="is-expanded is-fullwidth">
                                                <input type="number" class="input" id="banos" name="banos" min="0" value="${comercial.Banos != null ? comercial.Banos : '0'}">
                                                
                                             </div>
                                         </div>
                                     </div>
                                 </div>
                                 <div class="column is-auto">
                                     <div class="field">
                                         <label class="label">Pisos</label>
                                         <div class="control">
                                             <div class="is-expanded is-fullwidth">
                                                <input type="number" class="input" id="pisos" name="pisos" min="0" value="${comercial.Niveles != null ? comercial.Niveles : '0'}">
                                             </div>
                                         </div>
                                     </div>
                                 </div>
                             </div>
                         </div>
                     </div>
                 </div>`;
             
        }         
        document.getElementById("form-complement").innerHTML = html;
    };


    if(document.getElementById("tipoID").value === '') {
         document.getElementById("campo-11").oninput = forma_dinamica;
         console.log("Trigger cambio de propiedad");
    } else {
        window.onload = forma_dinamica;
        console.log("Trigger id de servidor");
    }
    

</script>
