<%- include('../includes/head.ejs') %>
<form action="/propiedades/registrar" method="POST">
<section class="main-container">
    <div class="container">
        <div class="content">
            <h1>Resgistrar propiedad</h1>
        </div>
        
        <div class="columns is-multiline">
            <div class="column is-8">
                <div class="section m-0">
                    <div class="card">
                        <div class="card-content">
                        <div class="container">
                            <div class="content is-small">
                                <div class="field">
                                    <label class="label">Titulo</label>
                                    <div class="control">
                                    <input class="input" type="text" maxlength="40" placeholder="">
                                    </div>
                                </div>
                            </div>


                            <div class="columns">
                                <div class="column is-6">
                                    <div class="field">
                                        <label class="label">Subject</label>
                                        <div class="control">
                                        <div class="select">
                                            <select>
                                            <option>Select dropdown</option>
                                            <option>With options</option>
                                            </select>
                                        </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="column is-6">
                                    <div class="field is-expanded">
                                        <label class="label">Subject</label>
                                        <div class="control is-expanded">
                                        <div class="select is-expanded">
                                            <select>
                                            <option>Select dropdown</option>
                                            <option>With options</option>
                                            </select>
                                        </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="content is-small">
                                <div class="field">
                                    <label class="label">Descripción</label>
                                    <div class="control">
                                    <input class="input" type="text" maxlength="200" id="descripcion" name="descripcion" placeholder="">
                                    </div>
                                </div>
                            </div>
                        </div>   
                    </div>
                </div>
            </div>

            <div class="section m-0">
                <div class="card">
                    <div class="card-content">
                        <div class="container">
                            <div class="columns">
                                <div class="column is-6">
                                    <div class="content is-small">
                                        <div class="field">
                                            <label class="label">Estado</label>
                                            <div class="control">
                                                <input class="input" type="text" maxlength="40" name="estado" id="estado" placeholder="">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="column is-6">
                                    <div class="content is-small">
                                        <div class="field">
                                            <label class="label">Municipio</label>
                                            <div class="control">
                                                <input class="input" type="text" maxlength="40" name="muncipio" placeholder="">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="columns">
                            <div class="column is-8">
                                <div class="content is-small">
                                    <div class="field">
                                        <label class="label">Colonia</label>
                                        <div class="control">
                                            <input class="input" type="text" maxlength="40" name="colonia" placeholder="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="column is-4">
                                <div class="content is-small">
                                    <div class="field">
                                        <label class="label">Codigo Postal</label>
                                        <div class="control">
                                            <input class="input" type="text" maxlength="40" name="cp" placeholder="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="columns">
                            <div class="column auto">
                                <div class="content is-small">
                                    <div class="field">
                                        <label class="label">Calle</label>
                                        <div class="control">
                                            <input class="input" type="text" maxlength="40" name="calle" placeholder="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>




                    </div>   
                </div>
            </div>
            


                <div class="section m-0">
                    <div class="card">
                        <div class="card-content">
                            <div class="container">
                                <div class="content is-small">
                                    <div class="field">
                                        <label class="label">Precio</label>
                                        <div class="control">
                                            <input class="input" type="number" maxlength="40" name="precio" id="precio" placeholder="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>   
                    </div>
                </div>
                

                <div class="section m-0">
                    <div class="card">
                        <div class="card-content">
                            <div class="container">
                                <div class="content is-small">
                                    <div class="field">
                                        <label class="label">Imagenes</label>
                                        <div class="control">
                                            <input class="input" type="text" maxlength="40" name="imagenes" placeholder="">
                                        </div>
                                    </div>
                                </div>
                                <div class="content is-small">
                                    <div class="field">
                                        <label class="label">Video</label>
                                        <div class="control">
                                            <input class="input" type="text" maxlength="40" name="video" placeholder="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>   
                    </div>
                </div>
                
            

            

            </div>  
        </div>
    


    </div>
</section>
<input type="submit" id="enviar" name="enviar" value="Registrar">
</form>
<%- include('../includes/foot.ejs') %>