<div class="section">
    <div class="container">
        <% if (propiedad.length > 0) { %>
        <div class="columns is-multiline">
            <% for (let p of propiedad  ) { %>
                <% if (residencial.length > 0) { %>
                    <% for (let r of residencial ) { %>
                        <% if (r.IdPropiedad === p.IdPropiedad) { %>
                        <div class="column is-4">
                            <%- include('propiedad.ejs', {propiedad: p, residencial: r}) %>
                        </div>
                        <% } %>
                    <% } %>
                <% } if (comercial.length > 0){%>
                    <% for (let c of comercial ) { %>
                        <% if (c.IdPropiedad === p.IdPropiedad) { %>
                        <div class="column is-4">
                            <%- include('propiedad.comercial.ejs', {propiedad: p, comercial: c}) %>
                        </div>
                        <% } %>
                    <% } %>
                <% } %>
            <% } %>
        </div>
        <% }  %>
    </div>
</div>
    

