<script>
    const accion_asincrona = () => {
        let valor_busqueda = document.getElementById('buscar').value;

        fetch('/propiedades/buscar/' + valor_busqueda, {
            method: 'GET',
            headers: {
                'Content-Type': 'application/json',
            }
        }).then(result => {
            return result.json();
        }).then(data => {
            
            let html = '';
            if (data.length > 0) { 
                html +=    '<div class="section">';
                html +=       ' <div class="container">';
                    if (data.length > 0) { 
                html +=             '<div class="columns is-multiline">';
                       for (let propiedad of data  ) {
                        console.log("AAAAAAAAAA");
                html +=                 '<div class="column is-3">';
                html += ' <a href="/propiedades/'+propiedad.IdPropiedad+'">';
                html += '     <div class="card shadow-lg is-cursor-pointer">';
                html += '         <div class="card-image cover-image is-overflow-hidden">';
                html += '             <figure class="image is-4by3">';
                html += '               <img src="'+propiedad.Imagenes+'">';
                html += '             </figure>';
                html += '           </div>';
                html += '         <div class="card-content">';
                html += '           <p class="subtitle">';
                html += '             '+propiedad.Descripcion+' ';                                         
                html += '           </p>';
                html += '           <p class="subtitle">';
                html += '             '+propiedad.Colonia+'';
                html += '           </p>';
                html += '         </div>';
                html += '         <footer class="card-footer">';
                html += '           <p class="card-footer-item">';
                html += '             <span>';
                html += '               Habitaciones '+propiedad.Terreno+' ';
                html += '             </span>';
                html += '           </p>';
                html += '           <p class="card-footer-item is-small">';
                html += '             <span>';
                html += '               '+propiedad.Precio+' ';
                html += '             </span>';
                html += '           </p>';
                html += '         </footer>';
                html += '       </div>';
                html += '     </a>';
                html +=       '</div>';
                        } 
                html +=     '</div>';
                    } 
                html +=   '</div>';
                html +=    ' </div> ';
                html += '</div>';
            } else { 
                html += '<h3>No hay propiedades</h3>';
            } 
            document.getElementById('resultados').innerHTML = html;
        }).catch(err => {
            console.log(err);
        });

    }
    document.getElementById('buscar').onkeyup = accion_asincrona;
</script>