<?xml version="1.0" encoding="utf-8"?>
<Configuration>
  <Collation>utf8mb4_general_ci</Collation>
  <ServerVersion>10.4.24</ServerVersion>
  <Entity>kiara</Entity>
  <ServerType>MariaDb</ServerType>
  <SupportsConnectEngine>False</SupportsConnectEngine>
  <SqlMode>NO_ZERO_IN_DATE,NO_ZERO_DATE,NO_ENGINE_SUBSTITUTION</SqlMode>
</Configuration>