<%- include('../includes/head.ejs') %>
    <!DOCTYPE html>
    <html>

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" type="image/png" sizes="32x32" href="../images/favicon.png">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/overlayscrollbars/1.9.1/css/OverlayScrollbars.min.css'>
        <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
        <link rel="stylesheet" href="https://unpkg.com/bulma@0.9.3/css/bulma.min.css" />
        <!--<link rel="stylesheet" type="text/css" href="../css/blog.css">-->
    </head>

    <body>



        <section class="hero is-danger is-small is-bold">
            <div class="hero-body">
                <div class="container has-text-centered">
                    <h1 class="title">¿Quiénes somos?</h1>
                </div>
            </div>
        </section>
        <div class="container is-fluid">
            <section class="articles">
                <div class="column is-8 is-offset-2">
                    <div class="card article">
                        <div class="card-content">
                            <div class="content article-body">
                                <p class="has-text-justified "> Somos una agencia inmobiliaria especializada en la compra y renta de inmuebles que nació en el año 2016. </p>
                                <p class="has-text-justified">Contamos con <strong>CERTIFICACION Y LICENCIA INMOBILIARIA.</strong></p>
                                <p class="has-text-justified"> Nuestro interés es dar la mayor exposición comercial posible a los inmuebles que nuestros clientes ponen en nuestras manos a fin de lograr su comercialización. Esto lo acompañamos de asesoría inmobiliaria desde el momento
                                    en que tomamos el inmueble hasta el momento en que es entregado al comprador/arrendatario final.</p>
                                <p class="has-text-justified">
                                    Es importante que sepas que nuestra gran pasión es el servicio y esto lo acompañamos de un genuino interés por brindarlo de forma ética, responsable y comprometida ya que nosotros entendemos completamente el valor de tu patrimonio
                                </p>
                                <p class="has-text-justified">
                                    Gran parte de nuestro éxito, por otro lado, son las alianzas que tenemos con otras inmobiliarias, lo cual hace exponencial nuestro alcance
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <!--<script async type="text/javascript" src="../js/bulma.js"></script>-->

    </body>

    </html>
    <%- include('../includes/foot.ejs') %>