<%- include('../includes/head.ejs') %>

    
    <div class="container">
        <h1 class="title is-large"> Avance del proceso</h1>
        <div class="level">
            <div class="level-item has ">
                <ul class="steps is-vertical is-hollow ">
                    <% for(let l of listEstatus) { %>
                        <%- include('step.ejs', {listEstatus: l}) %>
                    <% } %>
                </ul>
            </div>
        </div>
    </div>
    

<%- include('../includes/foot.ejs') %>