<%- include('../includes/head.ejs') %>
<% for(let l of listEstatus) { %>
    <h1 class="title is-large"></h1>
    <%- include('step.ejs', {listEstatus: l}) %>
    
<% } %>
<%- include('../includes/foot.ejs') %>