
    
<span  class="steps-marker">
    <span class="icon">
        <i class="fa fa-check"></i>
    </span>
</span>
<div class="steps-content">
    <p class="is-size-4"><%= paso.Paso %></p>
    <p><%= paso.Descripcion %></p>
</div>

