<ul class="steps is-centered is-vertical is-hollow">
    <li class="steps-segment">
        <span href="#" class="steps-marker">
            <span class="icon">
                <i class="fa fa-check"></i>
            </span>
        </span>
        <div class="steps-content">
            <p class="is-size-4"><%= listEstatus.Paso %></p>
            <p><%= listEstatus.Descripcion %></p>
        </div>
    </li>
</ul>