
<div class="field is-grouped is-grouped-center">

<span  class="steps-marker">
    <% if(paso.Estatus != 0){ %>
    <span class="icon">
        <i class="mdi mdi-check"></i>
    </span>
    <% } %>
</span>

<div class="steps-content">
    <p class="is-size-4"><%= paso.paso %></p>
    <p><%= paso.Descripcion %></p>
</div>
<!-- 
<label class="is-checkbox  is-info is-rounded">
    <input id="mycheckbox" checked="checked" type="checkbox">
    <span  class="icon checkmark">
      <i class="fa fa-check"></i>
    </span>
    <span>My checkbox</span>
</label> -->
</div>
